[submodule "bundle/pig.vim"]
	path = bundle/pig.vim
	url = https://github.com/motus/pig.vim.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
